.titleInput{
    border-radius:  10px;
    min-width: 967px;
    max-width: 967px;
    font-size: larger;
    border: 1px solid #ddd;
    margin-bottom: 1%;
}

.imageInput {
    margin-top: 1%;
    min-width: 967px;
    max-width: 967px;
    font-size: larger;
    border: 1px solid #ddd;
    border-radius:  10px;
}
.submitButton {
    border-radius:  10px;
    margin-top: 1%;
    width: 150px;
    height: 70px;
    border:#2e81f4;
    background-color: #2e81f4;
    color: #eff2f5;
    font-weight: 800;
}
.submitButton:hover {
    border:gainsboro;
    background-color: gainsboro;
    color: #2e81f4;
}